@font-face {
  font-family: "Bravo";
  src: url("fonts/BravoRGRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CeremoniousOne";
  src: url("fonts/ceremonious_one.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PDFin";
  src: url("fonts/pfdintextcondpro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PDFin";
  src: url("fonts/pfdintextcondpro-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
