@use "libs/normalize";
@use "style/nullstyle";
@use "style/fonts";
@use "style/var";
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular&display=swap&subset=cyrillic-ext");

body {
  font-family: "PT Sans";
  margin: 0;
  overflow-x: hidden;
}
._container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}
._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  img {
    display: none;
  }
}
._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.header {
  background: #1c242a;
  position: relative;
  z-index: 50;
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 75px;
    @media (max-width: 767px) {
      justify-content: space-between;
    }
  }
  &__logo {
    position: relative;
    z-index: 2;
    width: 144px;
    @media (max-width: 767px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.menu {
  padding: 0 0 0 3.16%;
  flex: 1 1 auto;
  @media (max-width: 767px) {
    flex: 0 0 auto;
  }
  &__body {
    @media (max-width: 767px) {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      background: #273139;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: auto;
      padding: 100px 0 20px 0;
      &::after {
        content: "";
        background: #1c242a;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
      }
      &._active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    li {
      margin: 0 15px;
    }
    @media (max-width: 767px) {
      display: block;
      text-align: center;
      li {
        margin: 0 0 30px 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  &__link {
    font-family: "PDFin";
    letter-spacing: 1.4px;
    color: #fff;
    text-transform: uppercase;
    @media (max-width: 767px) {
      font-size: 24px;
    }
    @media (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.icon-menu {
  @media (max-width: 767px) {
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background: #bb9c66;
      transition: all 0.3s ease 0s;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active {
      span {
        opacity: 0;
        &:first-child {
          opacity: 1;
          transform: rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          opacity: 1;
          transform: rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}
.actions-header {
  display: flex;
  align-items: center;
  &__region {
    position: relative;
    z-index: 2;
    @extend .menu__link;
    padding: 0 0 0 30px;
    background: url("img/icon/globe.png") left no-repeat;
    line-height: 18px;
    min-width: 18px;
    min-height: 18px;
    @media (max-width: 890px) {
      padding: 0;
      span {
        display: none;
      }
    }
  }
  &__user {
    margin: 0 0 0 30px;
    @media (max-width: 890px) {
      margin: 0 0 0 15px;
    }
  }
}
.user-header {
  &__icon {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  &__menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    top: 88px;
    position: absolute;
    right: 0;
    background: #1c242a;
    padding: 20px;
    min-width: 176px;
    @media (max-width: 767px) {
      background: none;
      text-align: center;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      padding: 100px 0 20px 0;
      transition: all 0.3s ease 0s;
      background: #273139;
      &::after {
        content: "";
        background: #1c242a;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
      }
    }
    li {
      margin: 0 0 8px 0;
      @media (max-width: 767px) {
        font-size: 24px;
        margin: 0 0 30px 0;
        font-family: "PDFin";
        letter-spacing: 1.4px;
        color: #fff;
        text-transform: uppercase;
      }
      &:last-child {
        margin: 0;
      }
    }
    &._active {
      opacity: 1;
      visibility: visible;
      top: 78px;
      @media (max-width: 767px) {
        top: 0;
      }
    }
  }
  &__link {
    position: relative;
    z-index: 5;
    color: #fff;
    padding: 0 0 0 30px;
    display: inline-block;
    line-height: 18px;
    @media (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
    &_1 {
      background: url("img/icon/menu/01.png") 1px center no-repeat;
    }
    &_2 {
      background: url("img/icon/menu/02.png") left center no-repeat;
    }
    &_3 {
      background: url("img/icon/menu/03.png") 4px center no-repeat;
    }
    &_4 {
      background: url("img/icon/menu/04.png") left center no-repeat;
    }
  }
}
.main {
  position: relative;
  &__control {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 0;
    width: 100px;
    height: 100px;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: "";
      background: #fff;
      position: absolute;
      width: 70%;
      height: 70%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
.main-slider {
  position: relative;
  overflow: hidden;
  .swiper-slide {
    height: auto;
  }
}
.item-main-slider {
  text-align: center;
  padding: 30px 0 100px 0;
  position: relative;
  &__content {
    position: relative;
    z-index: 2;
    height: 100%;
  }
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__text {
    color: #fff;
    font-size: 15px;
    line-height: calc(25 / 15);
    max-width: 700px;
    margin: 25px auto 0;
    flex: 1 1 auto;
  }
  &__btn {
    margin: 55px 0 0 0;
  }
}
.control-main-slider {
  &__arrow {
    position: relative;
    z-index: 2;
    background: url("img/icon/arrow.png") 0 0 no-repeat;
    width: 14px;
    height: 24px;
    cursor: pointer;
    &_next {
      transform: rotate(-180deg);
    }
  }
  &__decor {
    position: relative;
    z-index: 2;
    margin: 0 12px;
    animation: rotate 5s infinite linear;
  }
}
@keyframes rotate {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}
.title {
  text-align: center;
  &__item {
    font-family: "CeremoniousOne";
    color: #bb9c66;
    font-size: 40px;
    margin: 0 0 0.5em 0;
  }
  &__main {
    font-size: 35px;
    font-family: "PDFin";
    letter-spacing: 5.25px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: calc(40 / 35);
    &_regular {
      font-weight: 400;
    }
    &_w {
      color: #fff;
    }
    @media (max-width: 767px) {
      font-size: 30px;
    }
  }
}
.btn {
  display: inline-block;
  padding: 0;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
  }
  &::before {
    top: 0;
    background: #c3a774;
  }
  &::after {
    bottom: 0;
    background: #8f6630;
  }
  &__body {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 3px;
      background-image: linear-gradient(to top, #8f6630, #c3a774);
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
    span {
      min-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      font-family: "PDFin";
      letter-spacing: 2px;
      padding: 0 50px;
      &::after {
        content: "";
        background-image: linear-gradient(
          to top,
          rgb(187, 156, 102) 0%,
          rgba(187, 156, 102, 0) 100%
        );
        opacity: 0.06;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        transition: height 0.5s ease 0s, opacity 0.5s ease 0s;
      }
    }
  }
  @media (min-width: 992px) {
    &:hover {
      .btn__body {
        span {
          &::after {
            opacity: 0.3;
            height: 100%;
          }
        }
      }
    }
  }
  &_big {
    .btn__body span {
      font-size: 21px;
      color: #000;
      font-weight: 500;
      letter-spacing: 0px;
      padding: 0 10px;
    }
  }
}
.lots {
  padding: 85px 0 63px;
  &__container {
    overflow: hidden;
  }
  &__header {
    margin: 0 0 40px;
  }
  &__slider {
  }
}
.block-header {
  &__title {
    margin: 0 0 20px 0;
  }
  &__decor {
  }
}
.block-decor {
  display: flex;
  align-items: center;
  &__items {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      height: 1px;
      width: 100%;
      flex: 1 1 auto;
      background: #bb9c66;
    }
    &::after {
      content: "";
      width: calc(15px * 0.72);
      height: calc(25px * 0.72);
      flex: 0 0 calc(25px * 0.72);
      border: 1px solid #bb9c66;
      transform: rotate(-45deg);
      margin: 0 5px;
    }
    span {
      display: flex;
      align-items: center;
      margin: 0 5px;
      flex: 0 0 28px;
      justify-content: space-between;
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        flex: 0 0 10px;
        border-radius: 50%;
        border: 1px solid #bb9c66;
      }
      &::after {
        content: "";
        width: calc(15px * 0.72);
        height: calc(15px * 0.72);
        flex: 0 0 calc(15px * 0.72);
        border: 1px solid #bb9c66;
        transform: rotate(-45deg);
      }
    }
    &:last-child {
      flex-direction: row-reverse;
      span {
        flex-direction: row-reverse;
      }
    }
  }
  &__icon {
    text-align: center;
    flex: 0 0 145px;
    @media (max-width: 767px) {
      flex: 0 0 95px;
    }
    img {
      max-width: 100%;
      border-radius: 50%;
      box-shadow: #bb9c66 0 14px 12px -8px;
    }
  }
}
.slider-lots {
  &__body {
    margin: 0 -50px 50px;
    .swiper-slide {
      height: auto;
    }
    @media (max-width: 975px) {
      margin: 0 -15px 50px;
    }
  }
  &__slide {
    padding: 0 50px;
    @media (max-width: 975px) {
      padding: 0 15px;
    }
  }
  &__control {
  }
}
.control-slider-lots {
  display: flex;
  justify-content: center;
  align-items: center;
  &__arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span {
      background: url("img/icon/lots-slider_arrow.png") left no-repeat;
      flex: 0 0 108px;
      width: 108px;
      height: 35px;
      @media (max-width: 450px) {
        flex: 0 0 50px;
      }
    }
    &::after {
      content: "";
      margin: 0 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid #bb9c66;
    }
    &:last-child {
      flex-direction: row-reverse;
      span {
        transform: rotate(-180deg);
      }
    }
  }
  &__link {
    background: url("img/btn-decor_circul.png") 0 0 no-repeat;
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #000;
    font-weight: 500;
    font-family: "PDFin";
    text-transform: uppercase;
    @media (min-width: 992px) {
      &:hover {
        border-radius: 50%;
        background: linear-gradient(to top, #8f6630, #c3a774);
      }
    }
  }
}
.lot {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  &__header {
    text-align: center;
    margin: 0 0 30px 0;
    position: relative;
  }
  &__image {
    display: block;
    border: 3px solid #bb9c66;
    padding: 0 0 98% 0;
  }
  &__timer {
  }
  &__title {
    font-size: 21px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    font-family: "PDFin";
    line-height: calc(25 / 21);
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
    margin: 0 0 calc(27 / 21 * 1em) 0;
    @media (max-width: 975px) {
      font-size: 18px;
    }
    @media (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__info {
  }
  &__btn {
    margin: 0 25px;
  }
}
.timer-lot {
  transform: translate(-50%, 50%);
  width: 72px;
  height: 72px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 2px 0 0 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  div {
    position: relative;
    z-index: 2;
  }
  &::before {
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
  }
  &__icon {
    margin: 0 0 5px 0;
  }
  &__item {
    font-family: "PT Sans Narrow";
    font-size: 18px;
  }
}
.info-lot {
  display: flex;
  justify-content: center;
  margin: 0 0 35px 0;
  &__statistic {
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    width: calc(25px * 0.72);
    height: calc(25px * 0.72);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 0 10px 0;
    img {
      position: relative;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotate(-45deg);
      background: #1c242a;
    }
  }
  &__value {
    font-size: 14px;
    border-bottom: 1px solid #bb9c66;
    min-width: 50px;
  }
  &__current-bet {
    flex: 1 1 auto;
    @media (max-width: 975px) {
      flex: 0 0 auto;
    }
  }
}
.current-bet-info-lot {
  padding: 0 5px;
  position: relative;
  @media (max-width: 975px) {
    padding: 0 10px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border: 1px solid #bb9c66;
  }
  div {
    position: relative;
    z-index: 2;
  }
  &__label {
    margin: 0 0 5px 0;
  }
  &__value {
    font-family: "Bravo";
    font-size: 50px;
    padding: 0 0 5px 0;
    white-space: nowrap;
    @media (max-width: 975px) {
      font-size: 35px;
    }
  }
  &__currency {
  }
}
.categories {
  &__container {
    overflow: hidden;
    position: relative;
    margin: 0 auto 85px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 45px;
      width: 100%;
      background: #fff;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -50px;
    position: relative;
    padding: 34px 0 0 0;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      width: calc(24px * 0.72);
      height: calc(24px * 0.72);
      flex: 0 0 calc(24px * 0.72);
      transform: translate(-50%, 0) rotate(-45deg);
      border: 1px solid #bb9c66;
    }
    &::before {
      left: 33.333%;
      @media (max-width: 975px) {
        left: 50%;
      }
      @media (max-width: 975px) {
        display: none;
      }
    }
    &::after {
      left: 66.667%;
      margin: 0 1px 0 0;
      @media (max-width: 975px) {
        display: none;
      }
    }
  }
  &__column {
    padding: 0 50px 25px;
    flex: 0 1 33.333%;
    margin: 0 0 25px 0;
    position: relative;
    display: flex;
    justify-content: center;
    &::before {
      content: "";
      background: #bb9c66;
      width: 10px;
      height: 10px;
      flex: 0 0 10px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translate(-50%, 0);
    }
    @media (max-width: 975px) {
      flex: 0 1 50%;
    }
    @media (max-width: 650px) {
      flex: 1 1 100%;
    }
  }
  &__item {
  }
  &__decor {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: calc(100% + 9px);
    transform: translate(50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    &::before {
      content: "";
      width: 1px;
      flex: 1 1 auto;
      background: #bb9c66;
    }
    &::after {
      content: "";
      width: calc(24px * 0.72);
      height: calc(24px * 0.72);
      flex: 0 0 calc(24px * 0.72);
      transform: rotate(-45deg);
      border: 1px solid #bb9c66;
      margin: 15px 0 0 0;
    }
    span {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      &::before {
        content: "";
        background: #bb9c66;
        width: 10px;
        height: 10px;
        flex: 0 0 10px;
        border-radius: 50%;
        margin: 20px 0;
      }
      &::after {
        content: "";
        width: 1px;
        flex: 1 1 auto;
        background: #bb9c66;
      }
    }
  }
}
.item {
  position: relative;
  padding: 30px 30px 40px;
  text-align: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 992px) {
    &:hover {
      .item__bg {
        transform: scale(1.1);
        &::after {
          opacity: 0.8;
        }
      }
    }
  }
  &__link {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
  }
  &__icon {
    position: relative;
    z-index: 2;
    margin: 0 0 22px 0;
  }
  &__title {
    letter-spacing: 2.1px;
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "PDFin";
    flex: 1 1 auto;
    line-height: calc(25 / 21);
  }
  &__decor {
    text-align: center;
    position: relative;
    z-index: 2;
  }
  &__bg {
    transition: transform 0.5s ease 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &::after {
      content: "";
      transition: opacity 0.5s ease 0s;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($color: #1c242a, $alpha: 0.75);
    }
  }
}
.text-categories {
  color: #333;
  font-size: 15px;
  line-height: calc(25 / 15);
  @media (max-width: 767px) {
    text-align: justify;
  }
  p {
    margin: 0 0 25px 0;
    &:last-child {
      margin: 0;
    }
  }
  &__body {
    padding: 10px 0 25px 130px;
    background: url(img/mini-pattern.png) 0 0 no-repeat,
      url(img/pattern.png) 0 5px repeat-y;
  }
}
